body {
  font-family: 'Helvetica'
}


.form-group {
  margin-bottom: 1dvh;
}



@media only screen and (max-width: 1024px) {
  .footer {
    margin-top: 0px;
  }

  .App {
    font-size: calc(100% - 4px);
  }
}
